{% extends 'base.html' %}
{% load static %}
{% block title %} | Report {% endblock %}
{% block content %}
<div class="container"><br><br><br><br>
    <br>
    <div class="table-responsive" id="report-results" style="display: block;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">PROGRAM TIME</th>
            <th scope="col">EVENT</th>
            <th scope="col">MESSAGE</th>
            <th scope="col">ACTUAL TIME</th>
            <th scope="col">DISPLAY MESSAGE</th>
          </tr>
        </thead>
        <tbody id="report-table-body">
                  
        </tbody>
      </table><br>
    </div>
   
    
</div>
{% csrf_token %}
<script src="{% static 'js/report.js' %}"></script>

{% endblock content %}