body{
    background: rgb(220, 235, 235);
}
.wall{
    background-image: url(../images/wall.jpg);
    background-size: cover;
}
.clock{
    width: 200px;
    height: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-image: url(../images/clock.png);
    background-size: cover;
    
}
.clock::before{
    content: '';
    
    width: 15px;
    height: 15px;
    background: #1a1827;
    border: 1px solid #ffff;
    z-index: 100000;
    border-radius: 50%;

}

.hour,
.min,
.sec
{
    position: fixed;
}
.hour, .hr
{
    width: 130px;
    height: 130px;
}
.min, .mn
{
    width: 150px;
    height: 150px;
}
.sec, .sc
{
    width: 180px;
    height: 180px;
}
.hr, .mn, .sc
{
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
.hr::before{
    content: '';
    
    width: 8px;
    height: 80px;
    background: black;
    z-index: 9;
}
.mn::before{
    content: '';
    
    width: 5px;
    height: 100px;
    background: grey;
    z-index: 9;
}
.sc::before{
    content: '';
    width: 2px;
    height: 120px;
    background: lightgrey;
    z-index: 10;
}